0           ! limite a (eje x)
2           ! limite b (eje x)
0           ! limite c (eje y)
1           ! limite d (eje y)
6           ! n cantidad de puntos de malla horizontales
5           ! m cantidad de puntos de malla verticales
1000000     ! pasos
1e-10         ! Tolerancia


!!!!!!!!!!!!! NOTAS !!!!!!!!!!!

Archivo de configuración para resolver la ecuación de POISSON
Edite este archivo con las condicones iniciales o de frontera
de acuerdo al problema.
